.main {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  background-color: var(--profile-bg-color);
  height: calc(100vh - 60px);
}

.container {
  display: flex;
  justify-content: space-between;
}
